---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Blogbox from "../components/blogbox.astro";
import Contentbox from "../components/contentbox.astro";

const markdownFiles = import.meta.glob('./reports/*.md', { eager: true });

const blogPosts = Object.values(markdownFiles).map((file: any) => ({
  ...file.frontmatter,
  content: file.default,
  slug: file.file?.split('/').pop()?.replace('.md', '') || '',
}));

---

<Layout>
  <Contentbox>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {blogPosts.map((post: any) => (
        <Blogbox
              title={post.title}
              imageUrl={post.imageUrl}
              category={post.category}
              date={post.date}
              link={post.link || `/blog/${post.slug}`}
              author={post.author}
            />
        ))}
    </div>
  </Contentbox>
</Layout>
